{% extends 'core/base.html' %}
{% load custom_tags %}

{% block title %}Histórico de {{ Credor.id }} - {{ Credor.nome }}{% endblock %}

{% block content %}
<h2>Histórico do Credor - {{ Credor.nome }}</h2>
</br>

<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr>
            <th>Período</th>
            <th>PGC</th>
            <th>Valor (R$)</th>
            <th>NFS-e</th>
            <th>Arquivos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for historico in Credor.historicos.all %}
        <tr>
            <td>{{ historico.periodo }}</td>
            <td>{{ historico.numero_pgc }}</td>
            <td>R$ {{ historico.valor_total }}</td>
            <td>
               {% with pasta='PGC/'|add:historico.numero_pgc|stringformat:"s"|add:'/'|add:Credor.nome_pasta %}
                {% with pdfs=pasta|listar_pdfs %}
                    {% if pdfs %}
                    <ul>
                        {% for pdf in pdfs %}
                        <li><a href="{{ MEDIA_URL }}{{ pdf }}" target="_blank">{{ pdf|filename }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Nenhum PDF encontrado.</p>
                    {% endif %}
                {% endwith %}
                {% endwith %}
            </td>
            <td>
                {% with pasta='arquivos_gerados/PGC/'|add:historico.numero_pgc|stringformat:"s"|add:'/'|add:Credor.nome_pasta %}
                    <a href="{% url 'abrir_pasta' credor_id=Credor.id numero_pgc=historico.numero_pgc %}">Pasta</a>
                {% endwith %}
            </td>
            <td><span class="text-muted">—</span></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Nenhum histórico disponível.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-secondary mt-3" href="{% url 'listar_Credores' %}">Voltar</a>


{% endblock %}