{% extends 'core/base.html' %}

{% block title %}NOME DA PÁGINA{% endblock %}

{% block content %}
    
    <h1>Enviar E-mails com Relatórios</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    
<div class="container py-5">
    <!--<h1 class="text-center mb-5">Bem-vindo ao Sistema de Envio de Rendimentos</h1>-->
    
        <div class="col-md-6 align-items-center">           
                <div class="card h-100 shadow-sm card-hover">
                    <div class="card-body text-center">
                        <i class="bi bi-envelope-paper display-4 text-success mb-3"></i>
                        <h5 class="card-title">Enviar relatórios para todos os funcionários</h5>
                        
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i> Enviar para TODOS</button>
                        </form>
                    </div>
                </div>        
        </div>
    
</div>
    {% endblock %}